---
import BaseStyle from './base.styles.astro'
interface Props {
  title: string;
	description?: string;
}

let { title, frontmatter, description = '' } = Astro.props;
title = title || frontmatter?.title
description = `"${description || frontmatter?.description || 'Learn from by blog now for free!'}"`
const date = new Date(frontmatter?.date || Date.now())
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <title>{title}</title>
	<meta name="description" content={description}>
	<BaseStyle />
<style is:global>
	body {
		padding: 2rem;
	}
	body, header {
		display: flex;
		flex-direction: column;
	}
	body {
		align-items: center;
	}
	header, main {
		width: min(calc(100dvw - 4rem), calc(95ch - 4rem));
	}
	article {
		max-width: min(calc(100dvw - 4rem), calc(95ch - 4rem));
		min-width: 30%;
	}
	main {
		padding-bottom: 8rem;
	}
	footer {
		padding-bottom: 2rem;
	}
	pre {
		width: min(65ch, 100%);
	}
	table {
		width: min(calc(64ch - 4rem), 100%);
	}
	ol {
		list-style-type: decimal;
		padding-left: 2rem;
	}
	ul {
		list-style-type: disc;
		padding-left: 2rem;
	}
	
</style>
</head>
<body>
	<div class="w-full">
		<a href="/">Home page</a>
	</div>
  <header>
    <h1 class="text-center">{title}</h1>
  </header>
  <main class="flex flex-col w-fit items-center">
		<article class="flex flex-col w-fit mx-auto">
			<slot />
		</article>
  </main>
  <footer>
		<small>&copy; {date.getFullYear()} Pavel Shevtsov</small><br>
		<small>If you want to train an AI on this site you have to have my explicit permission</small>
  </footer>
</body>
</html>
